.section {
    width: 100%;

    & .section__title {
        width: 100%;
        font-size: 24px;
        font-weight: 500;
        margin: 30px 0;
    }
    
    & .section__title--center {
        width: 100%;
        font-size: 24px;
        font-weight: 500;
        margin: 10px 0;
        text-align: center;
    }

    & .section__title--bold{
        font-size: 20px;
        font-weight: 700;
    }
}