.look-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;

    & .look-card {
        display: block;
        width: 230px;
        position: relative;

        & .look-card__img{
            width: 100%;
            height: auto;
        }

        & .look-card-footer {
            position: absolute;
            bottom: 0;
            left: 0;
            padding: 20px;

            & .look-card-footer__header {
                font-size: 18px;
                font-weight: 400;
                color: #060606;
                margin-bottom: 10px;
            }

            & .look-card-flex {
                display: flex;
                justify-content: space-between;
                align-items: center;

                & .look-card-flex__price {
                    font-size: 18px;
                    font-weight: 700;
                    margin-left: 30px;
                }
            }
        }

    }
}