.simple-product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px 0;

    & .simple-card {
        width: 230px;
        position: relative;

        & .simple-card__img {
            width: 100%;
            height: auto;
        }

        & .simple-card:not(last-child) {

            margin-right: 14px;
        }

        & .simple-card__price {
            font-size: 24px;
            font-weight: 700;
        }

        & .simple-card__price--line-through {
            text-decoration: line-through;
            font-size: 14px;
            color: #A0A0A0;
            font-weight: 300;
        }
    }
}