.product-detail {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 25px 0;

    & .left-container {
        display: flex;
        justify-content: space-between;
        width: 600px;

        & .product-slide-container {
            width: 100px;

            & img {
                margin-bottom: 20px;
            }
        }

        & .product-main-image-container {
            width: 485px;
        }
    }

    & .right-container {
        width: 500px;

        & .right-container__text {
            font-weight: 700;
            margin-bottom: 25px;

            & span {
                font-weight: 400;
            }
        }

        & .right-container__text-muted {
            color: #787878;
        }

        & .right-container__text-icon {
            font-weight: 700;
            margin-top: 15px;
            display: flex;
            align-items: center;

            & span img {
                border: 1px solid black;
                border-radius: 50%;
                width: 40px;
                padding: 15px 8px;
                margin-left: 20px;
            }
        }

        & .right-container__price {
            font-size: 36px;
            font-weight: 700;
            margin-top: 25px;
        }

        & .right-container__color {
            font-weight: 700;
            margin-top: 25px;

            & span {
                font-weight: 400;
            }
        }

        & .right-container__images {
            display: flex;
            justify-content: start;
            align-items: center;
            margin-top: 25px;

            & img {
                width: 110px;
                margin-right: 20px;
            }
        }
    }
}