.search-app {
    display: flex;
    margin-top: 15px;

    & .search-filter {
        width: 220px;
        margin-right: 10px;
    }

    & .search-product {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-between;

        & .search-card {
            width: 230px;
            position: relative;
            margin-bottom: 30px;

            & .search-card-body {
                padding: 5px;

                & .search-card-body__header {
                    font-size: 13px;
                    font-weight: 300;
                    margin-bottom: 5px;
                }

                & .search-card-price {
                    display: flex;
                    justify-content: start;
                    align-items: center;

                    & .search-card-price__number {
                        font-size: 14px;
                        font-weight: 700;
                        margin-right: 5px;
                    }

                    & .search-card-price__number--line-throught {
                        font-size: 9px;
                        font-weight: 300;
                        text-decoration: line-through;
                        margin-right: 5px;
                    }
                }
            }

            & .search-card-footer {
                display: flex;
                justify-content: start;
                align-items: center;

                & span {
                    border-radius: 50%;
                    width: 15px;
                    padding: 10px;
                    margin-right: 5px;
                }

                & .black {
                    background-color: black;
                }

                & .red {
                    background-color: red;
                }

                & .yellow {
                    background-color: yellow;
                }

                & .green {
                    background-color: green;
                }

                & .blue {
                    background-color: blue;
                }

                & .light {
                    background-color: rgb(192, 192, 192);
                }
            }
        }
    }
}