.search-app {
  display: flex;
  margin-top: 15px;
}
.search-app .search-filter {
  width: 220px;
  margin-right: 10px;
}
.search-app .search-filter .search-section {
  margin: 15px 0 0 0;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 185px;
}
.search-app .search-filter .search-section .search-section__header {
  font-size: 14px;
  font-weight: 600;
  color: #333;
  margin-bottom: 8px;
}
.search-app .search-filter .search-section .search-section-category {
  margin-bottom: 5px;
}
.search-app .search-filter .search-section .search-section-category .search-section-category__link {
  color: #1b1b1b;
  font-size: 13px;
  display: block;
  text-decoration: none;
  margin: 10px 0;
}
.search-app .search-filter .search-section .search-section__btn {
  height: 20px;
  font-size: 13px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.54;
  letter-spacing: normal;
  color: #f27a1a;
  cursor: pointer;
}
.search-app .search-filter .search-section .search-section-seperator {
  width: 100%;
  height: 1px;
  background: #fff;
  border: solid 1px #ececec;
  border-top: 15px;
  border-bottom: 15px;
}
.search-app .search-filter .search-section .search-section-seperator span {
  display: block;
  border-bottom: 1px solid #ececec;
  margin: 0 auto;
}
.search-app .search-product {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}
.search-app .search-product .search-card {
  width: 230px;
  position: relative;
  margin-bottom: 30px;
}
.search-app .search-product .search-card .search-card-body {
  padding: 5px;
}
.search-app .search-product .search-card .search-card-body .search-card-body__header {
  font-size: 13px;
  font-weight: 300;
  margin-bottom: 5px;
}
.search-app .search-product .search-card .search-card-body .search-card-price {
  display: flex;
  justify-content: start;
  align-items: center;
}
.search-app .search-product .search-card .search-card-body .search-card-price .search-card-price__number {
  font-size: 14px;
  font-weight: 700;
  margin-right: 5px;
}
.search-app .search-product .search-card .search-card-body .search-card-price .search-card-price__number--line-throught {
  font-size: 9px;
  font-weight: 300;
  text-decoration: line-through;
  margin-right: 5px;
}
.search-app .search-product .search-card .search-card-footer {
  display: flex;
  justify-content: start;
  align-items: center;
}
.search-app .search-product .search-card .search-card-footer span {
  border-radius: 50%;
  width: 15px;
  padding: 10px;
  margin-right: 5px;
}
.search-app .search-product .search-card .search-card-footer .black {
  background-color: #202020;
}
.search-app .search-product .search-card .search-card-footer .red {
  background-color: #E21616;
}
.search-app .search-product .search-card .search-card-footer .yellow {
  background-color: #FAA958;
}
.search-app .search-product .search-card .search-card-footer .green {
  background-color: #353905;
}
.search-app .search-product .search-card .search-card-footer .blue {
  background-color: #477B97;
}
.search-app .search-product .search-card .search-card-footer .light {
  background-color: #c0c0c0;
}
