@import url('variables.less');

@font-face {
    font-family: roboto;
    src: url('../Roboto/Roboto-Regular.ttf');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: roboto;
}

.d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-decoration-none {
    text-decoration: none;
    color: #000;
}

.bg-black {
    background-color: @primary-color;
}

.header-text {
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 20px 0;
    font-size: 24px;
    font-weight: 700;
}

.point {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0px;

    & .point__stars {
        width: 60px;
        height: auto;
    }

    & .point__star-percent {
        font-size: 14px;
        font-weight: 700;
        color: #EEA734;
        padding: 0 5px;
    }

    & .point__star-number {
        font-size: 12px;
        font-weight: 400;
        color: @primary-color;
    }
}


.product-discount {
    display: flex;
    align-items: center;
    background-color: #000;
    text-decoration: none;
    width: 70px;
    padding: 5px 8px;

    & .product-discount__icon {
        width: 30%;
        height: auto;
        margin-right: 10px;
    }

    & .product-discount__number {
        color: #fff;
        font-size: 14px;
        font-weight: 700;
    }
}

@import url('common/container.less');

@import url('common/img.less');

@import url('main/advertisement.less');

@import url('main/topbar.less');

@import url('main/header.less');

@import url('main/navbar.less');

@import url('brand-slider.less');

@import url('top-nav.less');

@import url('slider.less');

@import url('products/category-container.less');

@import url('banner.less');

@import url('banner-double.less');

@import url('main/footer.less');

@import url('breadcrumbs.less');

@import url('top-search.less');

@import url('sort-container.less');

@import url('products/product-container.less');

@import url('products/recommended-container.less');

@import url('products/look-container.less');

@import url('products/simple-product.less');

@import url('search-app.less');
@import url('product-detail.less');



