.basket-container{
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
    padding: 12px 16px;
    height: auto;
    width: 423px;
    right: 0;
    border-radius: 0 0 6px 6px;
    z-index: 1;
}