.userplace {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;

    & .userplace-card img {
        width: 25px;
        height: 25px;
        margin-right: 15px;
    }
}

.userplace-card:hover .basket-container {
    display: block;
}