.btn {
    display: block;
    color: #fff;
    background-color: @primary-color;
    text-decoration: none;
    text-align: center;
}

.btn__primary--big {
    font-size: 18px;
    font-weight: 700;
    padding: 15px 85px;
}

.btn__primary--little {
    padding: 15px;
    font-size: 12px;
}

.btn-secondary {
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
    padding: 5px 15px;
    margin-top: 15px;
    margin-bottom: 60px;
    background-color: #dadada;
    text-decoration: none;
    color: @primary-color;
}