.img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 15px;

    & img {
        padding-left: 15px;
        display: block;
        margin-bottom: 10px;
    }

    & .img-overlay__text {
        font-size: 14px;
        font-weight: 300;
        background-color: @primary-color;
        padding: 5px 20px;
        color: #fff;
    }
}

.img-overlay__footer {
    position: absolute;
    bottom: 49px;
    display: flex;
    justify-content: center;
    background: rgba(0, 0, 0, 0.3);
    width: 100%;

    & img {
        width: 50px;
        padding: 10px;
    }
}

