.point {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0px;

    & .point__stars {
        width: 60px;
        height: auto;
    }

    & .point__star-percent {
        font-size: 14px;
        font-weight: 700;
        color: #EEA734;
        padding: 0 5px;
    }

    & .point__star-number {
        font-size: 12px;
        font-weight: 400;
        color: @primary-color;
    }
}