// DISPLAY FLEX
.d-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center !important;
}

.justify-content-between {
    justify-content: space-between !important;
}

.align-items-center {
    align-items: center;
}

// DISPLAY FLEX

.d-block {
    display: block !important;
}

.img-fluid {
    width: 100%;
    height: auto;
}

.border {
    border: 1px solid #c4c4c4;
}

.mr-1 {
    margin-right: 10px;
}

.mr-2 {
    margin-right: 20px;
}

.mr-3 {
    margin-right: 30px;
}

.mr-5 {
    margin-right: 50px;
}

.mb-1 {
    margin-right: 10px;
}

.mb-2 {
    margin-right: 20px;
}

.mb-3 {
    margin-right: 30px;
}

.mb-5 {
    margin-right: 50px;
}